#wrapper {
  box-sizing: border-box;
  margin: auto auto;
  width: 960px;
  background-color: gray;
}
.nav {
  background-color: green;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  background-color: rgb(255, 0, 0);
}
.nav-links {
  background-color: yellow;
  display: flex;
  flex-direction: row;
}
