#wrapper {
  box-sizing: border-box;
  margin: auto auto;
  width: 960px;
  background-color: gray;
}
/* ----------------------------------------HEADER--------------------------------------- */

.nav {
  background-color: #020204;
  height: 50px;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}
.nav-logo {
  /* background-color: rgb(255, 0, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 21px; */
  width: 20%;
  margin-left: 35px;
  font-weight: bold;
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.nav-links {
  /* background-color: yellow; */
  margin-right: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: normal;
  /* justify-content: space-around; */
  width: 40%;
}
.nav-link a {
  color: #ffffff;
  text-decoration: none;
}

.link-contact {
  cursor: not-allowed;
}
/* ------------------------------------------INTRO--------------------------------------- */

.introduction {
  max-width: 1024px;
  margin: 0 auto;
  /* background-color: #aaa; */
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1614730073452-26212f842765?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1024&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
}

.introduction-header {
  /* height: 93vh; */
  margin-left: 80px;
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.intro-h1 {
  width: 50%;
  padding-top: 150px;
  padding-bottom: 30px;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.intro-h2 {
  width: 276px;
  height: 23.13px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.btn {
  margin-top: 30px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid #ffffff;
  transition: 1s;
}
.btn a {
  /* padding-top: 5px; */
  padding-right: 55px;
  /* padding-bottom: 5px; */
  padding-left: 53px;
  color: #ffffff;
  text-decoration: none;
}

.btn:hover {
  background-color: #fff;
}
.btn a:hover {
  color: black;
  font-weight: bold;
  transition: 1s;
}

/* -------------------------------------------SPECIALIST---------------------------------------- */

.specialist {
  height: 100vh;
  background: #f1f1f1;
  color: #000000;
}

.specialist h1 {
  height: 20vh;
  width: 386px;
  margin-left: 80px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #152d41;
}
.worker {
  height: 40vh;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
}
.worker-face {
  background-image: url(https://randomuser.me/api/portraits/lego/6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 65px;
  margin-right: 60px;
  width: 197px;
  height: 197px;
  /* height: 19vmin;
  width: 20vmin; */
  border-radius: 50%;
}
.worker-data {
  width: 50vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.worker-data h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
}

.worker:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 45px;
  margin-right: 30px;
}
.worker:nth-of-type(even) .worker-face {
  background-image: url(https://randomuser.me/api/portraits/lego/0.jpg);
}

.worker:nth-of-type(even) h2 {
  display: flex;
  justify-content: flex-end;
}

.worker:nth-of-type(even) p {
  text-align: right;
}
/* ----------------------------------------------------SERVICE------------------------------------------ */

.service {
  height: 65vh;
  background: #405d78;
  /* position: relative; */
  /* display: flex; */
}
.serv-title {
  height: 15vh;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  padding-left: 80px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}
.serv-wrapper {
  width: 80%;
  padding: 3%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.serv-box {
  margin: 2%;
  background-color: #f1f1f1;
  height: 190px;
  width: 190px;
  display: flex;
  justify-content: center;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* flex-wrap: wrap; */
  /* position: relative; */
}
.serv-box:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}
.serv {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
}
.dot {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #e07a64;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -200px;
}
/* --------------------------------------------FOOTER-------------------------------------------------- */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto;
  margin-left: -5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.socios {
  display: flex;
}
.insta {
  color: #ffffff;
  font-size: 31px;
  padding: 3%;
}
.fbook {
  color: #ffffff;
  font-size: 31px;
  padding: 3%;
  margin-left: 10px;
}
